#header{
  width: 100%;
  background: $light-grey;
  padding: 2rem 1rem;
  margin-bottom: 5rem;
  border-bottom: 1px solid $primary-color;

  .logo{
    float: left;
    margin-right: 2rem;
  }
  
  nav{
    float: left;
  }
  
  ul.links{
    padding: 0;
    margin: 0;
    li{
      display: inline-block;
      padding: 0 1rem;
      border-right: 1px solid $grey;
      a{
        font-size: 2rem;
        &:hover{
          text-decoration: none;
        }
      }
      &:last-of-type{
        border-right: 0;
      }
    }
  }
}
