
.region{
  h2{
    &:first-of-type{
      margin-top: 0;
    }
  }
}

.above-content{
  border: 1px solid $red;
  text-align: center;
  padding: 1rem;
  .views-field-title{
    a{
      color: $red;
      font-size: 1.5rem;
      font-weight: $body-font-bold;
    }
  }
}

.below-content{
  background: $light-grey;
  text-align: center;
  padding: 1rem;
}